{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "indentation": 4
  },
  "ignoreFiles": [
    "dist/*",
    "config/*",
    "node_modules/*"
  ]
}
