.StudentDelete {
    display: flex;
    align-self: center;
    grid-column: 8 / 9;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border-color: transparent;
    outline: none;
}

.StudentDelete:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.StudentDelete:active {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
